
  {% block additional_head %}
     <style>  
    .for_name{
        color:black;
        font-size:1.2em;
    }
    strong{
      font-weight: bold;
      display: inline-block;
      width: 28%; 
      font-size: 12px;
      margin: 15px 0; 
    }
    .col {
      display: inline-block;
      width: 32%;   
    }
    .col_big {
      display: inline-block;
      width: 30%;
      margin:0;   
    }
    .status_col {
      display: inline-block;
      width: 30% !important;
    }
    .status_col_small {
      display: inline-block;
      width: 9.5% !important;
      text-align: center;
    }
    .last_col {
        width: 20%;
    }
    .count{
      font-weight: bold;
      margin-right: 10px;
    }
    .odd{
      background-color: #F4F4F4;
    }
    .in_work {
      color: rgb(77, 150, 77);

    }
    .linked {
      color: #FB9F27;
    }
    .in_work,
    .linked {
      font-weight: bold;
      
    }
    .resort_pk{
        font-weight: bold;
    }
    #stat_country_head {
      padding:5px;
      font-size:16px;
      font-weight: bold;
      font-family:Tahoma,"Geneva CY",sans-serif;
      color: #5D5D5D;
    }
    #stat_country_table{
      width:100%;
      text-align:center;
    }
    #stat_country_head_little{
       font-size:14px;
    }
    
    </style>
    
    {% endblock %}
    <div class=for_name"> <p class=for_name">
    {% for k,field in model.items %}
        {% if k == "title" %}
            {{ field }}
        {% elif  k == "resort_id" %}
            {{ field }}
        {% elif  k == "country_id" %}
            {{ field }}
        {% endif %} 
    {% endfor %}
     </p></div>   
    {% for k,field in model.items %}
        {% if k != "country_id" and k != "resort_id" %}   
              <div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                  <div class='col_big'> 
                          {{ k }} 
                  </div>  
                  <div class="col_big"> 
                       <span class="in_work">
                           {{ field }}
                       </span>
                      
                  </div>     
              </div>
        {% endif %}      
    {% endfor %}